<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LANGUAGE</key>
    <string>LANGUAGE</string>   
	<key>Back</key>
	<string>Back</string>    
	<key>Search</key>
	<string>Search</string>  
	<key>view entire collection</key>
	<string>view entire collection</string>              
	<key>LINGERIE</key>
	<string>LINGERIE</string>              
	<key>EYELASHES</key>	
	<string>EYELASHES</string>              
	<key>CATEGORIES</key>
	<string>CATEGORIES</string>      
	<key>ABOUT US</key>
	<string>ABOUT US</string>		   	
</dict>
</plist>
