<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LANGUAGE</key>
    <string>BAHASA</string>		
	<key>Back</key>
	<string>Back</string>
	<key>Search</key>
	<string>Penelusuran</string>
	<key>view entire collection</key>
	<string>lihat seluruh koleksi</string>
	<key>LINGERIE</key>
	<string>GAUN TIDUR</string>
	<key>EYELASHES</key>
	<string>BULU MATA</string>
	<key>CATEGORIES</key>
	<string>KATEGORI</string>
	<key>ABOUT US</key>
	<string>TENTANG KAMI</string>	   	
</dict>
</plist>
