<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LANGUAGE</key>
    <string>JAZYK</string>		
	<key>Back</key>
	<string>Back</string>
	<key>Search</key>
	<string>Hledat</string>
	<key>view entire collection</key>
	<string>view entire collection</string>
	<key>LINGERIE</key>
	<string>DÁMSKÉ SPODNÍ PRÁDLO</string>
	<key>EYELASHES</key>
	<string>ŘASY</string>
	<key>CATEGORIES</key>
	<string>KATEGORIE</string>
	<key>ABOUT US</key>
	<string>O NÁS</string>	   	
</dict>
</plist>
