<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSONSample</key>
	<string>[{"id":1,"title":"Brown Dog","img":"http:\/\/www.sevenuc.com\/files\/1.jpg"},{"id":2,"title":"Black Dog","img":"http:\/\/www.sevenuc.com\/files\/2.jpg"},{"id":3,"title":"Two Dogs","img":"http:\/\/www.sevenuc.com\/files\/3.jpg"},{"id":4,"title":"Girl","img":"http:\/\/www.sevenuc.com\/files\/4.jpg"}]</string>	
</dict>
</plist>
