<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>0.9</string>
	<key>OS</key>
	<string>iPad</string>
	<key>Language</key>
	<string>L1</string>
	<key>ShowDemo</key>
	<string>0</string>
	<key>BaseURL</key>
	<string>http://114.140.172.72/BACI</string>
	<key>CFBundleSignature</key>
	<string>dIeB5IpOoZR7e0fH1pm47EuSW0VQywBAPnVq2nz7QLA=</string>
	<key>LINGERIE</key>
	<dict>
		<key>ValidSeries</key>
		<string>0,1,2,3,4,5,6</string>
		<key>Series</key>
		<array>
			<dict>
				<key>SeriesID</key>
				<string>0</string>
				<key>SeriesName</key>
				<string>LOVE ANGELS</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/LOVEANGELS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>1</string>
				<key>SeriesName</key>
				<string>THE ANIMAL INSIDE</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/THEANIMALINSIDE</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>51</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>2</string>
				<key>SeriesName</key>
				<string>LET&apos;S PLAY</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/LETSPLAY</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>83</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>3</string>
				<key>SeriesName</key>
				<string>SPANISH DREAMS</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/SPANISHDREAMS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>165</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>4</string>
				<key>SeriesName</key>
				<string>CRIMINAL MINDS</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/CRIMINALMINDS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>225</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>5</string>
				<key>SeriesName</key>
				<string>THE CASTLE OF LOVE</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/THECASTLEOFLOVE</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>291</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>6</string>
				<key>SeriesName</key>
				<string>LIKE A DEVIL</string>
				<key>SeriesDirectory</key>
				<string>/Media/LINGERIE/LIKEADEVIL</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>415</string>
			</dict>
		</array>
	</dict>
	<key>EYELASHES</key>
	<dict>
		<key>ValidSeries</key>
		<string>0,1,2,3,4</string>
		<key>Series</key>
		<array>
			<dict>
				<key>SeriesID</key>
				<string>0</string>
				<key>SeriesName</key>
				<string>STARLIGHT EDITION</string>
				<key>SeriesDirectory</key>
				<string>/Media/EYELASHES/STARLIGHTEDITION</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>481</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>1</string>
				<key>SeriesName</key>
				<string>MAGIC COLOR</string>
				<key>SeriesDirectory</key>
				<string>/Media/EYELASHES/MAGICCOLORS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>517</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>2</string>
				<key>SeriesName</key>
				<string>GLAMOUR</string>
				<key>SeriesDirectory</key>
				<string>/Media/EYELASHES/GLAMOUR</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>557</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>3</string>
				<key>SeriesName</key>
				<string>PARADISE DREAMS</string>
				<key>SeriesDirectory</key>
				<string>/Media/EYELASHES/PARADISEDREAMS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>599</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>4</string>
				<key>SeriesName</key>
				<string>NATURAL LOOK</string>
				<key>SeriesDirectory</key>
				<string>/Media/EYELASHES/NATURALLOOK</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>647</string>
			</dict>
		</array>
	</dict>
	<key>CATEGORIES</key>
	<dict>
		<key>ValidSeries</key>
		<string>0,1,2,3,4,5,6</string>
		<key>Series</key>
		<array>
			<dict>
				<key>SeriesID</key>
				<string>0</string>
				<key>SeriesName</key>
				<string>BIKINI-STYLE</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/BIKINI-STYLE</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1001</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>1</string>
				<key>SeriesName</key>
				<string>CATSUITS</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/CATSUITS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1091</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>2</string>
				<key>SeriesName</key>
				<string>EYELASHES</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/EYELASHES</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1141</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>3</string>
				<key>SeriesName</key>
				<string>LEGWEAR</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/LEGWEAR</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1352</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>4</string>
				<key>SeriesName</key>
				<string>PANTIES</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/PANTIES</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1425</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>5</string>
				<key>SeriesName</key>
				<string>SEXY DRESS</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/SEXYDRESS</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1601</string>
			</dict>
			<dict>
				<key>SeriesID</key>
				<string>6</string>
				<key>SeriesName</key>
				<string>SEXY NEGLIGE</string>
				<key>SeriesDirectory</key>
				<string>/Media/CATEGORIES/SEXYNEGLIGE</string>
				<key>PhotoNumber</key>
				<string>5</string>
				<key>PhotoStartId</key>
				<string>1665</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
