<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Web Service Settings</string>
		</dict>		
		<dict>
			<key>DefaultValue</key>
			<string>http://demos.ambisig.com/WebDoc_WSServices</string>
			<key>Key</key>
			<string>firstNameKey</string>
			<key>Title</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://tempuri.org</string>
			<key>Key</key>
			<string>lastNameKey</string>
			<key>Title</key>
			<string>Action</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>				
	</array>
</dict>
</plist>
